# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
DATABASE_URL="postgresql://postgres:password@localhost:5432/ai-image-editor-saas-app"

# Clerk Authentication
# Get these from https://dashboard.clerk.com
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_***
CLERK_SECRET_KEY=sk_test_***
CLERK_WEBHOOK_SECRET=whsec_***

# Polar (Payment Platform)
POLAR_ACCESS_TOKEN=***
POLAR_ENV=sandbox
POLAR_WEBHOOK_SECRET=***
POLAR_PRODUCT_SMALL=***
POLAR_PRODUCT_MEDIUM=***
POLAR_PRODUCT_LARGE=***

# ImageKit (Image Management)
NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT=***
NEXT_PUBLIC_IMAGEKIT_PUBLIC_KEY=***
IMAGEKIT_PRIVATE_KEY=***

# AI Studios API
AISTUDIOS_API_KEY=***
